/* Custom Styles */

body {
  font-family: "Inter", sans-serif;
}

/* Scroll to Top Button visible on scroll */
#scrollTopBtn.show {
  display: flex !important;
}
.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #0e6b55;
    transition: width 0.4s ease-in-out;
}

.hover-effect:hover::after {
    width: 100%;
}


@keyframes bounce-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-float {
  animation: bounce-float 2s infinite ease-in-out;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.glow-ball {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  background: radial-gradient(circle at 30% 30%, #60a5fa, #1e3a8a 80%);
  box-shadow: 0 0 40px 20px #60a5fa, 0 0 100px 40px #60a5fa77;
  animation: move-ball 4s linear infinite alternate;
  opacity: 0.9;
}

/* Animation for moving the ball around in a floating path */
@keyframes move-ball {
  0% {
    transform: translate(-50%, -50%) translate(-110px, -100px) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) translate(150px, -80px) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) translate(100px, 120px) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) translate(-110px, 100px) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) translate(-110px, -100px) scale(1);
  }
}
.clipbar-diagonal {
        clip-path: polygon(43% 0, 100% 0, 100% 100%, 37% 100%);
    }